body {
  margin-top:-20px;
  background: url('../../assets/images/valentina-locatelli-130318.jpg');
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.welcome-text {
  margin-top: 140px;
  text-align: left;
  color: #fff
}

.welcome-text h1 {
  font-family: 'Pacifico', cursive;
  font-size: 180px;
}

.welcome-text h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-left: 15px;
  font-weight: bold;
}

#app-splash {
  display: none;
}

hr {
  border: 3px solid white;
  width: 50%;
}

.btn-light {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 15px;
}
