<div class="container">
    <h1 >Add New Plant</h1>
    <form class="new-plant-form"[formGroup]="myForm"(ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input class="form-control" type="text" name="image" formControlName="image">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input class="form-control" type="text" name="type" formControlName="type">
        </div>
        <div class="form-group">
          <label for="height">Height</label>
          <input class="form-control" type="number" name="height" formControlName="height">
        </div>
        <div class="form-group">
          <label for="width">Width</label>
          <input class="form-control" type="number" name="width" formControlName="width">
        </div>
        <div class="form-group">
          <label for="colour">Flower Colour</label>
          <input class="form-control" type="text" name="colour" formControlName="colour">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" formControlName="description" name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
        </form>
</div>
