h1 {
  text-align: center;
}

.login-form {
  margin: auto;
  width: 50%
}

.login-form input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.help-block {
  font-size: 0.75em
}

.alert-danger {
  color: black;
  background-color: purple;
}
